.mat-toolbar{
  width: 100%;
  background-color: #2d7bd0;
  color: white;
  text-align: center;
  position: fixed;
}
.mat-form-field {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  margin-top: 4%;
}
.heading{
  margin-left: 34%;
  font-size: xx-large;
}
table {
  width: 100%;
  background-color: #ffcf10;
  color: white;
}



